@import "tailwindcss";
.main {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 5px;
  font-family: "Poppins";
  margin: 10px;
}
label{
  color:rgba(0, 0, 0, 0.87);
}
input {
  padding: 10px;
  border: none;
  outline: 2px solid rgba(128, 128, 128, 0.301);
}
